# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules
.pixi

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
userData

# Exclude macOS Finder (System Explorer) View States
.DS_Store


# Add js build artifacts
*.js


opencode-session-history


data.json
/.sisyphus/
/tests/*
!/tests/unit/
tests/.build/
AGENTS.md
device-id
/.stfolder/
# pixi environments
.pixi/*
!.pixi/config.toml
