/* 
 * Hide the todoist_id start and end comment delimiters (%%) 
 * except when we hover over the line or edit the task
 */
.cm-line:not(:hover):not(.cm-active) > .cm-comment.cm-comment-start:has(~ .dataview.inline-field > .dataview.inline-field-key[data-dv-key="todoist_id"]),
.cm-line:not(:hover):not(.cm-active) > .cm-comment.cm-comment-start:has(~ .dataview.inline-field > .dataview.inline-field-key[data-dv-key="todoist_id"]) ~ .cm-comment.cm-comment-end
{
		display: none;
}






/*
.cm-line span.cm-comment {
    display: none;
}

.cm-line.cm-active span.cm-comment,
.cm-line:hover span.cm-comment {
    display: inline-block;
}

*/
